.button {
    border: none;
    background-color: $bright-blue;
    padding: 0.5rem 1rem;
    font-family: $font-family-secondary;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    min-width: 10rem;
}

.input {
    min-height: 2rem;
}